body {
    color: black;
    background-color: LightYellow;
    font-family: 'Merriweather', Georgia, serif;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 30px 0px;
    text-align: left;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#navigation {
    text-align: left;
    margin: 30px 0px 0px 0px;
}

div#header #navigation h1 {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-align: left;
    text-decoration: none;
}

div#header #navigation a {
    color: black;
    font-size: 16px;
    margin-left: 12px;
    text-decoration: none;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: left;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

p {
    line-height: 150%;
}

p.caption {
    font-style: italic;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

@media all and (min-width: 960px) {
div#navigation {
	background: none;
	float: left;
	display: block;
	left: 0px;
	margin: 0px 0px 0px 12px;
	position: fixed;
	top: 0px;
	width: 144;
}
div#navigation h1, div#navigation a {
        display: block;
        text-align: left;
}

}

q {
	quotes: "”" "”" "’" "’";
}
