<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$lang$" lang="$lang$">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="referrer" content="no-referrer" />
        <title>Det statiska dammet - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
	<link href="atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed" />
	<script src="/mathjax/MathJax-2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script>
		MathJax.Hub.Config({
		  "HTML-CSS": {
			    preferredFont: null,
			    webFont: "Gyre-Pagella"
			  }
			});
	</script>

    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">Det statiska dammet</a>
            </div>
            <div id="navigation">
		<h1>Denna webbplats</h1>
                <a href="/">Hem</a>
                <a href="/archive.html">Arkiv</a>
                <a href="/atom.xml">Flöde (Atom)</a>
                <a href="/rss.xml">Flöde (RSS)</a>
		<h1>Annat av mig</h1>
			<a href="http://diversepedanteri.blogspot.se">Blogg 2008&ndash;2013</a>
			<a href="http://klpn.se">Blogg 2013&ndash;</a>
			<a href="http://mortchart.klpn.se">Mortalitetsdiagram</a>
			<a href="https://github.com/klpn">GitHub-projekt</a>
            </div>
        </div>

        <div id="content">

            $body$
        </div>
	<div id="comments">
		<script data-isso="//comments.klpn.se/" data-isso-vote="false"
        src="//comments.klpn.se/js/embed.min.js"></script>

		<section id="isso-thread"></section>
	</div>

        <div id="footer">
           Webbplatsen drivs av <a href="mailto:klpn1258@gmail.com">Karl Pettersson</a> och har genererats med  
	   <a href="http://jaspervdj.be/hakyll">Hakyll</a>. <a href="https://github.com/klpn/static-dust">Källkod.</a> Kakor används vid kommentering med <a href="https://posativ.org/isso/">Isso</a>, för att möjliggöra editering av kommentarer inom 15 minuter efter att de postats, vilket inte kommer att fungera korrekt om kakor stängs av i webbläsaren. Kommentarer som skickas sparas för att publiceras med namn och webbsida, om dessa angetts: en fungerande e-postadress kan, om så önskas, anges för att få möjlighet att kommunicera kring kommentaren i efterhand men publiceras inte. Om JavaScript inaktiveras, kommer varken kommentarer eller visning av formler med <a href="https://www.mathjax.org/">MathJax</a> att fungera. Om fel uppstår vid besök, kan uppgifter om besökares IP-adress och tid för felet lagras i interna loggar och användas vid felsökning.</div>
    </body>
</html>
